*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;
}

.menu{
    width: 500px;
}


.menu li{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    margin: 5px 0;
    background: #c3bfcf;
    color: black;
    font-family: sans-serif;
    align-items: center;
}

.menu li span{
    margin-left: 1em;
    list-style: none;
    display: inline-flex;
}

.menu a{
    text-decoration: none;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1d1c1c;
    padding: 3px;
}

.menu button{
    cursor: pointer;
}

button{
    width: 70px;
}